<template>
  <q-page class="mt-5 bg-primary">
    <div class="-ml-2 flex flex-wrap">

      <!-- Line 1 -->
      <div class="mb-5 p-2 w-full relative">

        <img v-if="!line1.length" class="object-cover h-52 w-full rounded-xl" src="img_1.png">
        <q-img @click="goTo(line1[0].ContentID)" v-if="line1.length" class="h-96 w-full object-cover rounded-xl" :src="line1[0].LandscapeImage"/>

        <div v-if="line1.length" class="pb-10 w-full bottom-0 inset-x-0 absolute text-center">
          <div class="text-2xl text-bold text-white">{{ line1[0].Title}} </div>
          <div class="text-red-700 text-sm">{{ line1[0].Summary}}</div>
        </div>

      </div>

      <!-- Line 2 -->
      <div class="mb-5 px-2 w-full sm:w-1/2 relative" v-for="movie in line2" :key="movie.ContentID">

        <q-img @click="goTo(movie.ContentID)" v-if="line2.length" class="h-96 w-full object-cover rounded-xl" :src="movie.LandscapeImage"/>

        <div class="pb-10 w-full bottom-0 inset-x-0 absolute text-center">
          <div class="text-2xl text-bold text-white">{{ movie.Title }}</div>
          <div class="text-red-700 text-sm">{{ movie.Summary}}</div>
        </div>

      </div>

      <div class="w-full bg-accent rounded-sm m-2 text-right text-white p-2">
        <span class="mr-5">FEATURED ARTICLES</span>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 flex flex-col items-center" v-for="movie in line3" :key="movie.ContentID">
          <q-img @click="goTo(movie.ContentID)" v-if="line3.length" class="h-96 w-full object-cover rounded-xl" :src="movie.PortraitImage"/>
          <span class="text-gray-500">{{movie.Title}}</span>
          <span class="text-white">{{ movie.Summary }}</span>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  async mounted () {
    const response = await this.$store.dispatch('global/getFirstPage')
    console.log(response.data)
  },
  data () {
    return {

    }
  },
  computed: {
    line1: {
      get () {
        return this.$getter('line1')
      }
    },
    line2: {
      get () {
        return this.$getter('line2')
      }
    },
    line3: {
      get () {
        return this.$getter('line3')
      }
    }
  },
  methods: {
    goTo (id) {
      this.$router.push({ name: 'single', params: { id: id } })
    }
  }
}
</script>
