<template>
  <q-page class="mt-5 bg-primary px-5">
    <div class=" flex flex-wrap justify-end">
    <div class="w-full text-white text-bold text-right">UNT UT LABORE</div>

    <div class="mt-5 text-white flex justify-end divide-x divide-gray-600">
      <div class="p-2 text-white text-right">Unt ut labore</div>
      <div class="p-2 text-secondary text-right">nfl team</div>
      <div class="p-2 text-secondary text-right">Home</div>
    </div>
    <div class="-ml-2 flex flex-wrap">
      <div class="mb-5 p-2 w-full"></div>
      <img  class="h-96 w-full object-cover rounded-xl" :src="movie.LandscapeImage"/>
    </div>

    <div class="mt-5 text-white text-right">{{ movie.Title }}</div>
    <div class="mt-5 text-gray-500 text-right">{{
        movie.Summary
      }}
    </div>

    <div class="mt-5 text-white text-right">{{ movie.Title }}</div>
    <div class="mt-5 text-gray-500 text-right">
      {{         movie.Summary
      }}
    </div>

    <div class="mt-5 text-white flex justify-end">
      <div class="p-2 text-gray-500 text-right">
        No Comment
        <q-icon name="fas fa-comment" color="secondary"/>
      </div>
      <div class="p-2 text-gray-500 text-right">
        Admin
        <q-icon name="fas fa-user" color="secondary"/>
      </div>
      <div class="p-2 text-gray-500 text-right">
        October
        <q-icon name="fas fa-calendar" color="secondary"/>
      </div>
      <div class="p-2 text-gray-500 text-right">
        Nfl Teams
        <q-icon name="fas fa-bookmark" color="secondary"/>
      </div>
    </div>

    <div class="mt-10 w-full bg-accent rounded-sm text-right text-white p-2">
      <span class="mr-5">WRITTEN BY ADMIN</span>
    </div>
    <!-- admin image -->
    <div class="mt-5 w-full flex items-top justify-end">
      <div class="mr-5 mt-4 text-white text-center">View All Post by:<span class="text-secondary">Admin</span></div>
      <div class="h-32 w-32 bg-white"></div>
    </div>
    <div class="mt-10 text-gray-500 text-right">No Comments Yet</div>
    <div class="mt-4 w-full bg-accent rounded-sm text-right text-white p-2">
      <span class="mr-5">LEAVE A COMMENT</span>
    </div>
    <!-- forms -->
      <div class="w-full flex flex-col" dir="ltr">
      <q-input label-color="gray-500" color="gray-500" placeholder="Name*" class="mt-5 w-1/3 bg-accent rounded-lg pl-4" />
      <q-input  label-color="gray-500" color="gray-500" placeholder="Email*" class="mt-5 w-1/3 bg-accent rounded-lg pl-4" />
      <q-input  label-color="gray-500" color="gray-500" placeholder="Website" class="mt-5 w-1/3 bg-accent rounded-lg pl-4" />
      <q-input outlined  type="textarea" label-color="gray-500" color="gray-500" placeholder="Comment*" class="mt-5 w-1/2 h-64 bg-accent rounded-lg pl-4" />
      </div>
      <q-btn color="secondary"  text-color="black" class="mt-4">Submit</q-btn>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'Single',
  async mounted () {
    await this.$store.dispatch('global/getMovieDetails', { request: { RequestID: this.$route.params.id } })
  },
  data () {
    return {
      image: 'https://images.unsplash.com/photo-1570169797118-99f5f90c4e25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'
    }
  },
  computed: {
    movie: {
      get () {
        return this.$getter('movieDetails')
      }
    }
  }
}
</script>

<style scoped>

</style>
