@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "fonts/all.scss";


@font-face {
  font-family: "vazir-ultra-light";
  src: url("fonts/Vazir-thin.ttf");
}

@font-face {
  font-family: "vazir-light";
  src: url("fonts/Vazir.ttf");
}

@font-face {
  font-family: "vazir-medium";
  src: url("fonts/Vazir-medium.ttf");
}

@font-face {
  font-family: "vazir-bold";
  src: url("fonts/Vazir-bold.ttf");
}

.vazir-ultra-light {
  font-family: "vazir-ultra-light";
}

.vazir-light {
  font-family: "vazir-light";
}

.vazir-medium {
  font-family: "vazir-medium";
}

.vazir-bold {
  font-family: "vazir-bold";
}

* {
  font-family: 'vazir-light';
}


body {
  background-color: #303030;
}
