<template>
<div>
  <q-footer>
    <q-tabs
      dense
      v-model="tab"
      shrink
      stretch
      indicator-color="transparent"
      active-color="secondary"
      class="bg-primary text-white shadow-xl"
      active-bg-color="primary"
    >
      <q-route-tab
        name="artist"
        :to="{ name: '' }"
        label="ARTIST"
      />
      <q-route-tab
        name="CONTACTS"
        :to="{ name: '' }"
        label="CONTACTS"
      />
      <q-route-tab
        name="NEWS"
        :to="{ name: '' }"
        label="NEWS"
      />
      <q-route-tab
        name="GALLERY"
        :to="{ name: '' }"
        label="GALLERY"
      />
      <q-route-tab
        name="home"
        :to="{ name: '' }"
        label="CELEBRITIES"
      />
    </q-tabs>
  </q-footer>

</div>
</template>

<script>
export default {
  name: 'BottomNav',
  data () {
    return {
      tab: ''
    }
  }
}
</script>

<style scoped>

</style>
