<template>
  <div class="py-10 bg-primary text-white">
    <div class="mx-auto container">
        <div class="flex-1 flex justify-center items-center space-x-2">
          <q-btn color="white" outline label="footer"/>
          <q-btn color="white" outline label="footer"/>
          <q-btn color="white" outline label="footer"/>
          <q-btn color="white" outline label="footer"/>
          <q-btn color="white" outline label="footer"/>
        </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Footer'
}
</script>
