<template>
  <div>
    <!-- Desktop -->
    <q-header v-if="$q.screen.gt.sm" class="pt-5 px-5 bg-primary z-50">

      <q-toolbar class="px-0">
        <q-toolbar-title class="flex flex-wrap">
          <q-input color="secondary" standout="bg-primary" v-model="text" class="w-1/4 bg-accent rounded-lg">
            <template v-slot:append>
              <q-icon name="search" color="secondary"/>
            </template>
          </q-input>
        </q-toolbar-title>

        <!-- Left -->
        <div class="flex space-x-2">
          <q-btn color="primary" unelevated>Entries</q-btn>
          <q-btn color="primary" unelevated>Log in</q-btn>
        </div>
        <!-- Left -->
      </q-toolbar>
      <q-toolbar class="mt-5 bg-accent rounded-xl">
        <q-tabs v-model="tab" shrink stretch indicator-color="transparent" active-bg-color="primary"
                active-color="secondary">
          <q-tab name="tab5" label="CONTACTS"/>
          <q-tab name="tab4" label="NEWS"/>
          <q-tab name="tab3" label="GALLERY"/>
          <q-tab name="tab2" label="CELEBRITIES"/>
          <q-tab name="tab1" label="HOME"/>
        </q-tabs>
        <q-space/>
        <q-btn flat label="Homepage" to="/"/>
      </q-toolbar>

    </q-header>
    <!-- Mobile -->
    <q-header v-if="$q.screen.lt.md" class="pt-5 px-5 bg-primary z-50">

      <q-toolbar class="px-0">
        <q-toolbar-title class="flex flex-wrap">
          <q-input color="secondary" standout="bg-primary" v-model="text" class="w-full sm:w-1/2 md:w-1/3 bg-accent rounded-lg">
            <template v-slot:append>
              <q-icon name="search" color="secondary"/>
            </template>
          </q-input>
        </q-toolbar-title>

        <!-- Left -->
        <div class="flex space-x-2">
          <q-btn color="primary" unelevated>Entries</q-btn>
          <q-btn color="primary" unelevated>Log in</q-btn>
        </div>
        <!-- Left -->
      </q-toolbar>
      <q-toolbar class="mt-5 bg-accent rounded-xl" v-if="!$q.screen.lt.sm">
        <q-tabs v-model="tab" shrink stretch indicator-color="transparent" active-bg-color="primary"
                active-color="secondary">
          <q-tab name="tab5" label="CONTACTS"/>
          <q-tab name="tab4" label="NEWS"/>
          <q-tab name="tab3" label="GALLERY"/>
          <q-tab name="tab2" label="CELEBRITIES"/>
          <q-tab name="tab1" label="HOME"/>
        </q-tabs>
        <q-space/>
        <q-btn flat label="Homepage" to="/"/>
      </q-toolbar>

    </q-header>
  </div>
</template>

<script>

export default {
  name: 'Header',
  components: {},
  data () {
    return {
      text: '',
      tab: 'tab1'
    }
  },
  computed: {},
  methods: {},
  mounted () {

  }
}
</script>

<style scoped>

</style>
