<template>
  <q-drawer side="right" content-class="bg-primary flex flex-col items-center" v-model="drawer">
    <div class="px-5 w-full mt-7">
      <div class="bg-accent flex flex-col rounded-xl overflow-hidden">
        <q-btn  class="w-full rounded-sm text-center text-white shadow-sm mt-1" v-for="i in 10" :key="i">
          <div class="text-white">Artist</div>
        </q-btn>
      </div>
    </div>
  </q-drawer>
</template>

<script>
export default {
  name: 'SideNav',
  data () {
    return {
      drawer: true
    }
  }
}
</script>

<style scoped>

</style>
