<template>
  <q-layout view="lHh lpR fFf">

    <q-page-container>
      <Header />
      <SideNav />
      <router-view class="pl-5"/>
      <Footer v-if="$q.screen.gt.sm"/>
      <BottomNav v-if="$q.screen.lt.sm"/>
    </q-page-container>
  </q-layout>
</template>

<script>

import Header from 'components/index/Header'
import Footer from 'components/index/Footer'
import SideNav from 'components/index/SideNav'
import BottomNav from 'components/index/BottomNav'

export default {
  name: 'IndexLayout',
  components: { BottomNav, SideNav, Footer, Header },
  data () {
    return {
      drawer: true
    }
  }
}
</script>
