<template>
  <q-layout>
  <q-page-container>
    <router-view />
  </q-page-container>
  </q-layout>
</template>

<script>

export default {
  name: 'MainLayout',
  data () {
    return {
    }
  },
  created () {
    this.$setUrl({ key: this.$route.name, value: this.$route.params.id })
  },
  updated () {
    this.$setUrl({ key: this.$route.name, value: this.$route.params.id })
  },
  methods: {
  },
  computed: {
    loading: {
      set (value) {
        this.$setter('loading', value)
      },
      get () {
        return this.$getter('loading')
      }
    }
  },
  watch: {
    loading () {
      if (this.loading) {
        this.$q.loading.show({
          message: 'درحال انجام عملیات<br/><span class="text-primary">لطفا شکیبا باشید</span>'
          // other props
        })
      } else {
        this.$q.loading.hide()
      }
    }
  }

}
</script>
